#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  
  background-color: black ;
}
.App{
  background-color: black;
}
.debt-btn{
  background-color: darkblue;
  color: white;
}

*{
  padding: 0;
  margin: 0;
}
.info{
  display: flex;
}
.map{
  margin-bottom: 1rem;
  width: 40rem;
  background-color: rgb(69, 73, 73);
}
.all-total{
  display: flex;
  flex-direction: column;
  height: 20rem;
  
  
  overflow: scroll;
  overflow-x: hidden;
  
}